			*{
				padding: 0;
				margin: 0;
			}
			
			div,
			p,
			li {
				box-sizing: border-box;
				-ms-box-sizing: border-box;
			}
			
			a {
				color: white;
				text-decoration: none;
			}
			
			img {
				font-size: 0;
				padding: 0;
				margin: 0;
			}
			
			.wrap {
				position: relative;
				width: 100%;
				height: 100%;
			}
			/*头部*/
			
			body {
				-webkit-text-size-adjust: none;
				margin-bottom: 500px;
			}
			
			ul li {
				list-style-type: none;
			}
			
			.header {
				position: relative;
				display: table;
				display: table\9;
				font-size: 0;
				width: 100%;
				min-width: 1440px;
			}
			.header img{
				width: 100%;
				min-width: 1440px;
			}
			/*导航按钮*/
			.btnBox {
				position: absolute;
				left: 17.5%;
				bottom: 6%;
				width: 65%;
				display:table-row-group;
				display: table-row-group\9;
			}
			
			.btnBox li {
				float: left;
				list-style: none;
				display: table-cell;
				display: table-cell\9;
				font-size: 17px;
				padding: 0 15px;
			}
			
			
			.btnBox li:first-child+li+li+li+li,.btnBox li:first-child+li+li+li+li+li,.btnBox li:first-child+li+li+li+li+li+li{
			    float: right\9;
			}
			.btnBox li:nth-child(5),
			.btnBox li:nth-child(6),
			.btnBox li:nth-child(7) {
				float: right;
			}
			.t_cont{
				width: 1002px;
				margin-left: 218px;
				overflow: hidden;
			}
			.t_toptitle{
				display: inline-block;
				margin-top: 20px;
				height: 28px;
				overflow: hidden;
			}
			.t_juxing{
				width: 8px;
				height: 28px;
				margin: 0 14px 0 18px;
				background:#d40076 ;
				display: inline-block;
				vertical-align: middle;
			}
			.t_man{
				color: #d40076;
				line-height: 28px;
				display: inline-block;
			}
			.t_contul{
				border-top: 1px solid #efefef;
				margin-top: 16px;
			}
			.t_contul li{
				border-bottom: 1px dotted #a9a9a9;
				overflow: hidden;
				padding-bottom: 45px;
				padding-top: 45px;
			}
			.t_border{
				border: 1px solid #e5e5e5;
				box-shadow: 0 0 4px #e5e5e5;
				display: inline-block;
				font-size: 0px;
				float: left;
				padding: 5px;
				margin-left: 30px;
			}
			.t_border > img{
				width: 287px;
				height: 200px;
			}
			.t_right{
				position: relative;
				display: inline-block;
				width: 617px;
				height: 212px;
				float: left;
				margin-left: 25px;
			}
			.t_title{
				color: #484848;
				font-size: 22px;
			}
			.t_views{
				line-height: 30px;
				color: #9e9e9e;
				font-size: 14px;
				margin-top: 20px;
				width: 617px;
				height: 90px;
				overflow:hidden; 
				/*white-space:nowrap;*/ 
				text-overflow:ellipsis;
			}
			.t_views a{
				color: #d40076;
			}
			.t_time{
				position: absolute; 
				font-size: 12px;
				color: #a2a2a2;
				bottom: 19px;
			}
			.t_paging{
				text-align: center;
				padding-top: 40px;
			}
			.t_paging input{
				display: inline-block;
				background: #f8f8f8;
				border: none;
				margin-right: 10px;
				font-size: 16px;
				color: #666666;
				line-height: 32px;
				padding: 0 12px;
				border: 1px solid #c1c1c1;
				outline: none;
				cursor: pointer;
				border-radius: 1px;
			}
			.t_paging > .t_on{
				background: #f73fa5;
				color: #FFFFFF;
				border-color: #d40076;
			}
@media screen and (max-width:960px) {
				.btnBox li {
					font-size: 17px;
				}
			}
			@media screen and (max-width:1280px){
			  .btnBox li {
					font-size: 17px;
					padding: 0 1.7%;
				}
			}
			@media screen and (max-width:1150px){
			  .btnBox li {
					font-size: 17px;
					padding: 0 1.6%;
				}
			}
			@media screen and (max-width:1000px){
				.btnBox{
					/*bottom: 5%;*/
				}
			  .btnBox li {
					font-size: 17px;
					padding: 0 1.5%;
				}
				
			}
			@media screen and (max-width:960px){
				.btnBox li {
					padding: 0 1.4%;
				}
			}
			@media only screen and (min-width:1440px) {
				.t_cont{
				margin: 0 auto;
			}
			}