<include file="public/header" title="交易中心"/>
<include file="public/header_nav" title="交易中心"  href="javascript:history.go(-1);"/>
<!--顶部开始-->
<style>
    .demo-hidden {
        display:none;
    }
    div.layui-m-layercont {
        font-size: .653333rem;
        line-height: 1rem;
    }
    #chartitem .charts{
        height:  10.932rem
    }
</style>
<section  style="background: #fff;width: 100%;overflow: hidden;">
<div class="row">
    <div style="width:100%;padding:15px 15px 0 15px;box-sizing: border-box">
        <div class="box box-info">
            <div id="chartbox">
                <div id="mynav">
                    <a class="active">k线图</a>
                    <a>折线图</a>
                </div>
            </div> 
            <div id="chartitem" style="height:10.932rem;">
                <div id="chart1" class="charts chart-active"></div>
                <div id="chart2" class="charts"></div>
            </div>            
        </div>
        <div id="myhend">
            <div id=kdatas>
                <p>开盘:<span></span></p>
                <p>最高:<span></span></p>
                <p>收盘:<span></span></p>
                <p>最低:<span></span></p>
            </div>
        </div>
    </div>
</div>
</section>
<section>
<form action="" submit-type="ajax">
    <div class="sellgec">
        <div class="sell-box">
            <p class="sell-active">卖出XTC</p>
            <p>买入XTC</p>
         </div>
         <div class="take-goods">
            <div class="takeitem take-active">
                <div class="input-sell">
                    <input type="number" id="mcnum" placeholder="请输入出售数量">
                    <input type="number" id="mcpis" placeholder="请输入出售单价">
                </div>
                <div class="btn-sell">
                    <input type="submit" id="mc" value="我要卖出" style="background: #f10215">
                </div>
            </div>
            <div class="takeitem">

                                <div class="input-sell">
                    <input type="number" id="gmnum" placeholder="请输入购买数量">
                    <input type="number" id="gmpis" placeholder="请输入购买单价">
                </div>
                <div class="btn-sell">
                    <input type="submit" id="gm" value="我要买入">
                </div>
            </div>
         </div>
    </div>
</form>
</section>
<style>
    
</style>
<section>
<div class="demodata demo-hidden" id="app">
    <ul class="demo data-active" style="background: #f7f7f7;margin-bottom: 2rem">
        <li v-for="item in selists">
            <div class="sell-data">
                    <div class="left-sell">
                        <p>昵称：<span>{{item.nickname}}</span></p>
                        <p>单价：<span>{{item.price}}G</span></p>
                    </div>
                    <div class="middle-sell">
                        <p style="font-size: .547rem;color: #2A81F4"><span>{{item.amount}}G</span></p>
                        <p style="margin-top: .213rem">数量：<span>{{item.trade_qty}}</span></p>
                        <p style="margin-top: .213rem">{{item.create_time}}</p>
                    </div>
                <div class="right-sell gm-btn" :data-id="item.id" :data-way="item.way">交易</div>
            </div>
        </li>
    </ul>
    <ul class="demo"  style="background: #f7f7f7; margin-bottom: 2rem">
        <li v-for="item in gmlists">
            <div class="sell-data">
                <div class="left-sell">
                    <p>昵称：<span>{{item.nickname}}</span></p>
                    <p>单价：<span>{{item.price}}G</span></p>
                </div>
                <div class="middle-sell">
                    <p style="font-size: .547rem;color: #f10215"><span>{{item.amount}}G</span></p>
                    <p style="margin-top: .213rem">数量：<span>{{item.trade_qty}}</span></p>
                    <p style="margin-top: .213rem">{{item.create_time}}</p>
                </div>
                <div class="right-sell gm-btn" :data-id="item.id" :data-way="item.way"  style="background: #f10215">购买</div>
            </div>
        </li>
    </ul>
</div>
</section>
<style>
   .pwdBox{
       display: none;
   }
   .labelPwd{
      line-height: 2rem;
      font-size: .6rem;
   }
     .pwd{
       border:none;
       border-bottom: 1px solid #909090;
       outline: none;
       text-indent: .5rem;
   }
 .btnPwd{
       margin-top: 1rem;
        width: 40%;
        height: 1.5rem;
        border-radius: .2rem;
        background-color: #2A81F4;
        color:#fff;
        text-align: center;
        border:none;
        outline: none;
   }
   .btnCancel{
    width: 40%;
        height: 1.5rem;
        border-radius: .2rem;
        background-color:  #b9b9b9;
;
        color:#fff;
        text-align: center;
        border:none;
        outline: none;
        margin-right: 1rem;
   }
</style>
<div class="pwdBox">
    <form action="" method="POST" class="showPwd">
       <label class="labelPwd">
        请输入密码：<input type="password" class="pwd" name="password" placeholder="请输入密码">
       </label>
       <div>
        <input type="button" class="btnCancel" value="取消"><input type="submit" class="btnPwd" value="确定">
       </div>
    </form>
</div>
 <!--底部-start-->
    
 <include file="public/footer"/>

 <!--底部-end-->
<script src="__PUBLIC__/js/vue.min.js"></script>
<script src="__PUBLIC__/chart/echarts.js"></script>
<script src="__PUBLIC__/chart/wechart1.js"></script>
<script src="__PUBLIC__/chart/wechart2.js"></script>
<script> 

    // 线图选项卡
    $("#mynav a").bind("click",function(){
        var n = $("#mynav>a").index($(this));
        $("#mynav a").removeClass("active");
        $(this).addClass("active");
        $("#chartitem>.charts").removeClass("chart-active");
        $("#chartitem>div").eq(n).addClass("chart-active");
        console.log(n);
        if(n==1){
            $("#myhend").css("opacity","0");
        }
        else{
            $("#myhend").css("opacity","1");
        }
    })
    // 买卖选项卡
    $(".sell-box p").bind("click",function(){
        var n = $(".sell-box p").index($(this));
        $(".sell-box p").removeClass("sell-active sell-red");
        // $(this).addClass("sell-active");
        if(n==0){
         $(".sell-box p").eq(0).addClass("sell-active");
        }else{
         $(".sell-box p").eq(1).addClass("sell-red");   
        }


        $(".take-goods .takeitem").removeClass("take-active");
        $(".take-goods .takeitem").eq(n).addClass("take-active");
        $(".demodata>.demo").removeClass("data-active");
        $(".demodata>.demo").eq(n).addClass("data-active");
    })
    //<!-- 买入 -->
    $(function(){
        
        $("#gm").bind("click",function(){
            var num=$("#gmnum").val();
            var price=$("#gmpis").val();
            var reg = /^[1-9]\d*$/;
            if($("#gmnum").val()==''){
                showErrorMsg("请输入数量"); 
				return false;
			}
			if(reg.test($("#gmnum").val())){
			}else{
				showErrorMsg("请输入整数"); 
				return false;
			}
            if(price==""){
                showErrorMsg("请输入价格"); 
                return false;
            }
            if(!isNaN(price)){
            }else{
                showErrorMsg("请输入数字"); 
                return false;
            }
            checkPwdCode(null,null,function () {
                $.ajax({
                    url: '/Mobile/goldchain/buy/',
                    type: 'POST',
                    data: {
                        buy_qty:num,
                        price:price
                    },
                    success: function (datas) {  
                        console.log(datas)
                        if(datas.code == 0){
                            showErrorMsg(datas.msg); 
                        }else{
                            showErrorMsg(datas.msg, true);
                        }
                    }
                });
            })
           
            return false;
        })
    })
    //<!-- 卖出 -->
    $(function(){
        $("#mc").bind("click",function(){
            var num=$("#mcnum").val();
            var price=$("#mcpis").val();
            var reg = /^[1-9]\d*$/;
            if($("#mcnum").val()==''){
				showErrorMsg("请输入数量"); 
				return false;
			}
			if(reg.test($("#mcnum").val())){
			}else{
				showErrorMsg("请输入整数"); 
				return false;
			}
            if(price==""){
                showErrorMsg("请输入价格"); 
                return false;
            }
            if(!isNaN(price)){
            }else{
                showErrorMsg("请输入数字"); 
                return false;
            }
           checkPwdCode(null,null,function () {
            $.ajax({
                url: '/Mobile/goldchain/sold/',
                type: 'POST',
                data: {
                    sold_qty:num,
                    price:price
                },
                success: function (datas) {  
                    console.log(datas)
                    if(datas.code == 0){
                        showErrorMsg(datas.msg); 
                    }else{
                        showErrorMsg(datas.msg, true); 
                    }
                  
                }
            });
           })
            return false;
        })
    });
    var app = new Vue({
  el: '#app',
  data: {
    selists: [],
    gmlists:[]
  },
  methods:{
    getData:function(){
        var that= this;
       $.ajax({
           url:'/Mobile/goldchain/buyList/',
           type:"GET",
           success:function(datas){
             that.selists=datas;
           }
       });
       $.ajax({
           url:'/Mobile/goldchain/soldList/',
           type:"GET",
           success:function(datas){
             that.gmlists=datas;
           }
       })         
    }
  },
  created: function () {
     $(".demo-hidden").removeClass("demo-hidden");
     getCookieByName('stype')=='1'?$('.sell-box p').eq(1).trigger('click'):$('.sell-box p').eq(0).trigger('click'); 
        setCookies('stype','');
  },
  mounted:function(){
    this.getData();
  },
})
function checkPwdCode(id, way, successCallback) {
    
   var layerIndex = layer.open({
        title: [
        '输入密码',
        'background-color: #2A81F4; color:#fff;font-size:.7rem;height:1.6rem;line-height:1.6rem;'
        ],
        content: $('.showPwd').html(),
    });
    //确定按钮
    $(document).on('click', '.btnPwd', function () {
        var value=$('.layui-m-layer input[type=password]').val();
        $.ajax({
            url:'/Mobile/goldchain/validateSafePassword/',
            type:'POST',
            data:{password:value},
            success:(res) => {
              if (res.code == 0) {
                alert(res.msg);
              } else {
                successCallback(id, way);
                $(document).off('click','.btnPwd');
              }
            }
        })
    })
    $(document).one('click','.btnCancel',function () {
        $(document).off('click','.btnPwd');
        layer.close(layerIndex)
    })
}
$('body').on('click', ".gm-btn" , function() {
    var id = $(this).data().id, way = $(this).data().way;
    checkPwdCode(id, way, function(id, way) {
        $.ajax({
            url: way == 1 ? '/Mobile/goldchain/buyTrade/' : '/Mobile/goldchain/soldTrade/',
            type: 'POST',
            data: {
                trade_id:id
            },
            success: function (datas) {  
                console.log(datas)
                if(datas.code == 0){
                    showErrorMsg(datas.msg); 
                }else{
                    showErrorMsg(datas.msg, true); 
                }
            }
        });
    });
    
    return false;
});
function showErrorMsg(msg, reload) {
    layer.open({
        content: msg,
        time: 3,
        end: function() {
            
            if (reload) {
                $('.sell-box>p').eq(1).hasClass('sell-red')?setCookies('stype',1):setCookies('stype',0); 
                window.location.reload()
            }
        }
    });
}
</script>
</body>
</html>